*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container {
    width: 100%;
    min-height: 25vh;
    padding: 15%;
    display: flex;
    align-content: center;
    justify-content: center;
}


.search-bar{
    width: 100%;
    max-width: 1000px;
    background: rgb(0 166 255);
    display: flex;
    align-items: center;
    border-radius: 80px;
    padding: 10px 20px;
    backdrop-filter: blur();
}

    .search-bar input {
        background: transparent;
        flex: 1;
        border: 0;
        outline: none;
        padding: 24px 20px;
        font-size: 20px;
        color: #ffffff;
    }

::placeholder{
    color: #000000;
}

.search-bar button{
    width: 25px;
}
.search-bar button {
    border: 0;
    border-radius: 25%;
    width: 60px;
    height: 60px;
    background: rgb(26, 123, 169);
    cursor: pointer;
}

